@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap'); */
/* 
@font-face {
    font-family: 'Faster';
    src: url('./assets/font/FasterOne-Regular.ttf');
} */


@font-face {
    font-family: 'MajorMonoDisplay';
    src: url('./assets/font/MajorMonoDisplay-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
}